# Langchain core
langchain
langchain-core
langchain_community

# Google gemini (PaLM) integration
langchain-google-genai
google-generativeai

# Env management
python-dotenv

# type safety
pydantic

# uviconfig
uvicorn[standard]

# fastapi
fastapi[standard]

# pypdf
pypdf